

select.wpcf7-form-control.wpcf7-select{
color:#818181 !important;
}
.wpcf7 form.wpcf7-form p{
color:#fff;
}
.subscribe-hm{
    max-width: 800px;
    margin: 0 auto;
    min-height: 81px;
    background: url("https://mindflashonline.com/wp-content/uploads/2016/07/newsletter-bg.png") no-repeat;
    padding:10px 45px 10px 10px;
}
.subscribe-left{
    min-width: 300px;
    width: 45%;
    float: left;
}
.subscribe-left h2{
    color: #b72022;
    font-size: 14px;
    line-height: 20px;
    padding-top: 12px;
    padding-left: 15px;
    text-transform: none;
}
.subscribe-left p{
    margin: 0;
    color: #0e5098;
    line-height: 14px;
    padding-left: 15px;
}
.subscribe-right{
    float: left;
    min-width: 300px;
    width: 38%;
    position: relative;
}
.subscribe-right p{
    margin: 0;
}
.subscribe-right input.wpcf7-email{
    border: 1px solid;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    /* Firefox 1-3.6 */
    -moz-border-radius:3px;
    padding: 10px;
    position: absolute;
    top: 6px;
    left: 0;
    min-width: 250px;
}
.subscribe-right .wpcf7-submit{
    position: absolute !important;
    top: 9px;
    right: 0px;
    z-index: 1;

    background: #3498db !important;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9) !important;
    background-image: -moz-linear-gradient(top, #3498db, #2980b9) !important;
    background-image: -ms-linear-gradient(top, #3498db, #2980b9) !important;
    background-image: -o-linear-gradient(top, #3498db, #2980b9) !important;
    background-image: linear-gradient(to bottom, #3498db, #2980b9) !important;
    -webkit-border-radius: 3 !important;
    -moz-border-radius: 3 !important;
    border-radius: 3px !important;
    -webkit-box-shadow: 0px 4px 0px #11679c !important;
    -moz-box-shadow: 0px 4px 0px #11679c !important;
    box-shadow: 0px 4px 0px #11679c !important;
    color: #ffffff !important;
    border: none !important;
}
.subscribe-right .wpcf7-submit:hover{
    background: #3cb0fd !important;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db) !important;
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db) !important;
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db) !important;
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db) !important;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db) !important;
}

@media only screen and (min-device-width: 666px) and (max-device-width: 780px) and (orientation:portrait) {
    /* For portrait layouts only */
    .subscribe-left h2{font-size: 12px;}
    .subscribe-left p{font-size: 13px;}
}
@media only screen and (min-device-width: 620px) and (max-device-width: 665px) and (orientation:portrait) {
    /* For portrait layouts only */
    .subscribe-hm{padding: 10px;}
}
@media only screen and (min-device-width: 360px) and (max-device-width: 619px) and (orientation:portrait) {
    /* For portrait layouts only */
   #dn-for-mobile{display:none;}
    .subscribe-hm{
        padding: 10px;
        background: none !important;
    }
    .subscribe-left{
        width: 100% !important;
        text-align: center;
    }
    .subscribe-left h2{
        font-size: 18px;
        color: #ffffff;
    }
    .subscribe-left p{
        font-size: 18px;
        color: #ffffff;
        line-height: 24px;
    }
    .subscribe-right{
        width: 100%;
    }
    .subscribe-right input.wpcf7-email{
        width: 100%;
        position: relative;
    }
}
.q_logo a{
    height: 60px !important;
    margin-top: -4px;
}
.bn-right{
text-align:center;
}
.bn-h2{
    color: #fff;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
position: relative;
margin-bottom: 20px;
    margin-top: 15px;
}
.bn-h2:before{
    content: "";
    border: 1px solid #bd2327;
    position: absolute;
    width: 65%;
    left: 81px;
    top: 44px;
}
.bn-h5{
    color: #fff;
    line-height: 25px;
    font-size: 20px;
}
.bn-h1{
    color: #fff;
    line-height: 60px;
    font-size: 49px;
}
.bn-button{
border:none;
margin-top: 25px;
}