	/*
  	Flaticon icon font: Flaticon
  	Creation date: 26/04/2018 15:46
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        /*font-size: 20px;*/
font-style: normal;
/*margin-left: 20px;*/
}

.flaticon-web:before { content: "\f100"; }
.flaticon-analytics-1:before { content: "\f101"; }
.flaticon-presentation-1:before { content: "\f102"; }
.flaticon-analytics:before { content: "\f103"; }
.flaticon-user-2:before { content: "\f104"; }
.flaticon-user-1:before { content: "\f105"; }
.flaticon-login-password:before { content: "\f106"; }
.flaticon-customer-service:before { content: "\f107"; }
.flaticon-chat:before { content: "\f108"; }
.flaticon-sms:before { content: "\f109"; }
.flaticon-telephone-1:before { content: "\f10a"; }
.flaticon-telephone:before { content: "\f10b"; }
.flaticon-mouse:before { content: "\f10c"; }
.flaticon-signs:before { content: "\f10d"; }
.flaticon-round:before { content: "\f10e"; }
.flaticon-man:before { content: "\f10f"; }
.flaticon-question:before { content: "\f110"; }
.flaticon-computer-9:before { content: "\f111"; }
.flaticon-pointer:before { content: "\f112"; }
.flaticon-mail:before { content: "\f113"; }
.flaticon-phone-call:before { content: "\f114"; }
.flaticon-alarm-clock:before { content: "\f115"; }
.flaticon-exam:before { content: "\f116"; }
.flaticon-diploma-1:before { content: "\f117"; }
.flaticon-diploma:before { content: "\f118"; }
.flaticon-social-1:before { content: "\f119"; }
.flaticon-student:before { content: "\f11a"; }
.flaticon-user:before { content: "\f11b"; }
.flaticon-computer-8:before { content: "\f11c"; }
.flaticon-computer-7:before { content: "\f11d"; }
.flaticon-computer-6:before { content: "\f11e"; }
.flaticon-computer-5:before { content: "\f11f"; }
.flaticon-social:before { content: "\f120"; }
.flaticon-computer-4:before { content: "\f121"; }
.flaticon-computer-3:before { content: "\f122"; }
.flaticon-computer-2:before { content: "\f123"; }
.flaticon-research-1:before { content: "\f124"; }
.flaticon-book-1:before { content: "\f125"; }
.flaticon-research:before { content: "\f126"; }
.flaticon-book:before { content: "\f127"; }
.flaticon-market:before { content: "\f128"; }
.flaticon-books:before { content: "\f129"; }
.flaticon-open-book:before { content: "\f12a"; }
.flaticon-test-1:before { content: "\f12b"; }
.flaticon-test:before { content: "\f12c"; }
.flaticon-indian-rupee:before { content: "\f12d"; }
.flaticon-rupee:before { content: "\f12e"; }
.flaticon-india-republic:before { content: "\f12f"; }
.flaticon-india:before { content: "\f130"; }
.flaticon-idea:before { content: "\f131"; }
.flaticon-pencil:before { content: "\f132"; }
.flaticon-content:before { content: "\f133"; }
.flaticon-presentation:before { content: "\f134"; }
.flaticon-planning-1:before { content: "\f135"; }
.flaticon-planning:before { content: "\f136"; }