.main-ques{
    display: flex;
    width: 100%;
    overflow-y: hidden;
    height: max-content;
    flex-direction: column;

}
.main-ques .heading{
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(77, 77, 188);
    color: white;
}
.heading h3{
    color: white;
    margin: auto;
}
.box-ques{
    display: flex;
}
.ques-leftp{
    padding-left: 10px;
    margin-top: 10px;
    gap: 10px;
    width: 75%;
    display: flex;
    height: auto;
    flex-direction: column;
}
.ques-rightp{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    height: 100vh;
    left: 80%;
    right: 20px;
    position: fixed;
}
.ques-rightp .stu-details{
    display: flex;
    box-shadow: 1px 2px 3px 4px rgba(184, 182, 182, 0.4);
    padding: 10px;
    background-color: aliceblue;
    border: 2px solid black;
    gap: 10px;
}
.stu-details .stu-img{
    height: 80px;
    width: 80px;
}
.stu-details .stu-data{
    display: flex;
    padding-left: 0px;
    background-color: aliceblue;
    flex-direction: column;
}
.stu-details .timer{
    margin-left: 0px;
}
.ques-secs{
    display: flex;
    gap: 20px;
}
.ques-sec{
    display: flex;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    align-items: center;
    background-color: rgb(77, 77, 188);
    padding: 5px 10px;
}
.allsec{
    background-color: rgb(6, 6, 115);
}
.ques-mainbox{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    
}
.qno{
    display: flex;
    width: 100%;
    background-color: rgb(77, 77, 188);
    color: white;
}
.question-box{
   
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.ques-img{
    display: flex;
    justify-content: center;
    width: 100%;
}
.ques-img img{
    display: flex;
    height: 300px;
    margin: auto;
    width: 500px;
}
.question-box .ques{
    width: 80%;
    color: black;
    font-size: medium;
    font-weight: 500;
    margin-left: 20px;
    display: flex;
}
.options{
    width: 100%;
}
.form{
    width: max-content;
   
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.r{
    width: max-content;

}
.option{
    width: max-content;
    height: 40px;
    display: flex;
    gap: 20px;
    justify-content: baseline;
    align-items: baseline;
    margin-left: 20px;
    height: 30px;
   
}
.nav-btns-ques{
    display: flex;
    gap: 20px;
}
.nav-btn-que{
    display: flex;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    align-items: center;
    background-color: rgb(77, 77, 188);
    padding: 5px 10px;
}
.ques-palette{
    border: 2px solid black;
    display: flex;
    height: auto;
    min-height: 300px;
    flex-direction: column;
    background-color: aliceblue;
}
.ques-palette .p-head,.no-ques .p-head{
    font-weight: 500;
    font-size: large;
    
    padding-left: 10px;
    width: 100%;
    background-color: rgb(77, 77, 188);
    color: white;
}
.no-ques{
    border: 2px solid black;
    display: flex;
    height: auto;
    min-height: 200px;
    flex-direction: column;
    background-color: aliceblue;
}
.pal-ques{
    display: flex;
    gap: 5px;
    padding-left: 5px;
    padding-top: 5px;
    flex-wrap: wrap;
    padding-bottom: 5px;
}
.no-qp{
    display: flex;
    gap: 15px;
    padding-left: 5px;
    padding-top: 5px;
    flex-wrap: wrap;
    padding-bottom: 5px
}
.sq,.usq,.mq,.nvq{
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
}
.sq{
    background-color: green;
    color: white;
    
}
.usq{
    background-color: red;
    color: white;
}
.mq{
    background-color: rgb(130, 7, 130);
    color: white;
}
.nvq{
    color: black;
    border:  1px solid black;
}
.tqh{
    width: 100%-6px;
    height: 30;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 500;
    background-color: rgb(77, 77, 188);
    margin: 0 3px;
}
.pal-ques .solved-q{
    width: 30px;
    height: 30px;
    display: flex;
justify-content: center;
color: white;
align-items: center;
    background-color: green;
}
.pal-ques .unsolved-q{
    width: 30px;
    height: 30px;
    color: white;
    display: flex;
justify-content: center;
align-items: center;
    background-color: red;
}
.pal-ques .notvisited-q{
    width: 30px;
    height: 30px;
    color: black;
    border: 1px solid black;
    display: flex;
justify-content: center;
align-items: center;
    background-color: white;
}
.solved-q,.unsolved-q,.notvisited-q{
    font-weight: 600;
    font-size: large;
}
.exam-btns-ques{
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
   gap: 5px;
   column-gap: 10px;
}
.exam-btn-que{
    color: white;
    height: 35px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 90px;
    background-color: rgb(77, 77, 188);
}
.stu-name{
    font-weight: 600;
}