.con-summary{
    height: 100vh;
    width: 100vw;
    background-color:#f6f6f9;
}
.box-summary{
    display: flex;
    position: relative;
    gap: 50px;
    flex-direction: column;
}
.summ-head{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    height: 50px;
    background-color: #2B3674;
}
.summ-head h2{
    color: white;
}
.box-main-summ{
    position: relative;
    width: 60%;
    gap: 40px;
    display: flex;
    margin: auto;
    flex-direction: column;
}
table{
    width: 100%;
    
}
table,td,th{
    border: 1px solid black ;
  
    border-collapse: collapse;
}
th{
    background-color: #2B3674;
    color: white;
    text-align: center;
}
td{
    text-align: center;
    font-weight: 500;
    font-size: medium;
}
.btns-summary{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.back-btn-sum{
    display: flex;
   width: 90px;
   border-radius: 5px;
   color: white;
   justify-content: center;
    background-color: rgb(91, 88, 88);
}
.submit-btn-sum{
    display: flex;
    width: 90px;
    border-radius: 5px;
    color: white;
    justify-content: center;
    background-color: #2B3674;
}