
.con-prof{
    display: flex;
    margin-left: 20px;
    gap: 15px;
    cursor: pointer;
    flex-direction: row;
}
.prof-img{
    width: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(82, 2, 82);
}
.drop-box{
    width: 200px;
    background-color: rgb(82, 2, 82);
    height: max-content;
   
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 10px;
    position: absolute;
}
.row1,.row2{
    color: white;
    width: 100%;
    display: flex;
    margin: 5px;
    justify-content: center;
   
    

}
.log-out-btn{
    width: 100%;
    color: white;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    background-color: blueviolet;
}
.log-out-btn a{
    color: white;
    text-decoration: none;
}