/* OTPVerificationPage.css */

/* Page container */
.container-vefify {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    background-color: var(--color-bg);
    justify-content: center;
    height: 90vh;
  }
  .container-vefify h2{
    color: var(--color-primary);
  }
  /* OTP input field */
 #ver-otp-input {
    padding: 5px;
    width: 250px;
    
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Buttons */
  button {
    padding: 5px 10px;
    font-size: 16px;
    background-color:  var(--color-primary);;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Success message */
  .success {
    color: #00cc00;
    font-size: 18px;
  }

  .box-verify{
    padding: 20px;
    gap: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
  }