/* OTPVerificationPage.css */

/* Page container */
.container-vefify {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  /* OTP input field */
 #ver-otp-input {
    padding: 10px;
    width: 250px;
    margin: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Buttons */
  button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Success message */
  .success {
    color: #00cc00;
    font-size: 18px;
  }

  .box-verify{
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
  }