
.con-login{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #EBEEEF;
}
.box-login{
    box-shadow: 1px 2px 3px 4px rgba(184, 182, 182, 0.4);
    border-radius: 12px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
position: relative;
    align-content: center;
    margin: auto;
    z-index: 1000;
    width: 40%;
    height: 60%;
    background-color: white;
}
/* .box-login::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a),#45f3ff 0%,#45f3ff,
     transparent 10%
    ,transparent 80%,#45f3ff 100%);
    border-radius: 12px;
    animation: animate 2.5s linear infinite;
}

@property --a{
    syntax:'<angle>';
    inherits:false;
    initial-value:0deg;
}
@keyframes animate{
    0%{
        --a:0deg
    }
    100%{
        --a:360deg
    }
} */
.box-e{
    margin-top: 40px;
}
.box-p{
    margin-top: 20px;
}
.box-e,.box-p{
    padding: 10px;
    gap: 40px;
   
    margin-left: 100px;
    display: flex;

}
.error{
    height:100px;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
    overflow: hidden;
    background: white;
    position: fixed;
    right: 0;
    color: red;
}
.error-head{
    height: 30px;
    color: white;
    
    gap: 50px;
    width: 100%;
    font-size: large;
    padding-left: 10px;
    background-color: red;
}
.main-err{
    height: 70px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 15px;
    font-size: large;
    display: flex;
}
.main-err h5{
    color: black;
}
.in-e{
    margin-left: 22px;
}
.box-e input,.box-p input{
    border: none;
    width: 250px;
    border-bottom: 2px solid rgb(171, 170, 170);
}

.box-e input:focus,.box-p input:focus{
    outline: none;
    border-bottom: 2px solid rgb(19, 18, 18);
}
.login-head{
    height: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(100, 100, 199);
    color: white;
}

.login-head strong{
    font-size: large;
    margin: auto;
}
.login-btns{
    display: flex;
    margin-top: 40px;
    gap: 20px;
    justify-content: center;
    align-content: center;
}
.login-btns .btn-login,.btn-register{
    background-color: green;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    width: 140px;
    border-radius: 10px;
}



@media screen and (max-width:761px) {
    .box-login{
        width: 90%;
        height: 60%;
    }
    .box-e,.box-p{
        margin-left: 15px;
        gap: 20px;
    }
}